$primary-color: #2864f0;
$secondary-colorA: #f7f5f5;
$secondary-colorB: #e9e7e7;
$black: #5a5a5a;

body {
  background: $secondary-colorB;
  color: $black;
  box-sizing: border-box;
}

.form-wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $secondary-colorA;
  padding: 2em, 1em;
  min-width: 340px;
  height: 50vh;
  box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);

  h1 {
    text-align: center;
    padding: 1em 0;
  }

  form {
    padding: 0 1.5em;
  }
}

.form-item {
  margin-bottom: 1.2em;
  width: 100%;

  input {
    background: white;
    border: none;
    border: 2px solid $secondary-colorB;
    color: $black;
    font-size: 1em;
    height: 50px;
    transition: 0.3s;
    width: 100%;

    &:focus {
      border: 2px solid $black;
      outline: none;
    }
  }
}

.message {
  p {
    display: none;
    color: red;
    font-size: 16px;
  }
}

.button-panel {
  margin: 2em 0 0;
  width: 100%;
}

.button-panel .button {
  background: $black;
  border: none;
  color: white;
  cursor: pointer;
  height: 50px;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.3s;
  width: 100%;
  box-shadow: 0 1.9px 2.5px rgba(0, 0, 0, 0.057),
    0 5px 6.1px rgba(0, 0, 0, 0.076), 0 10.1px 11.4px rgba(0, 0, 0, 0.086),
    0 19.2px 19.8px rgba(0, 0, 0, 0.092), 0 38.4px 34.8px rgba(0, 0, 0, 0.1),
    0 101px 74px rgba(0, 0, 0, 0.13);
}

.button {
  margin-bottom: 20px;

  &:hover {
    background: $primary-color;
  }
}

@media screen and (min-width: 768px) {
  .form-wrapper {
    width: 50vw;
  }
}

@media screen and (min-width: 1025px) {
}
